.header__favourites {
  padding: 40px 0 32px 0;
  border-bottom: 1px #DEE2E6 solid;
}
.header__title {
  font-size: 64px;
  font-weight: 700;
  padding-top: 48px;
}
.header__text {
  font-size: 21px;
  font-weight: 400;
}